* {
  margin: 0px;
  background-color: rgb(37, 93, 156);
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 200px;
  margin-left: 50vh;
}

.counterFavorite {
  color: #ffff;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  background-color: white;
  margin-right: 20px;
}

.searchbar input {
  width: 400px;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  background-color: white;
  color: black;
}

.searchbar-btn button {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 44px;
  padding: 10px 12px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-header h1 {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px 10px rgb(255, 255, 255, 1.25);
  border-radius: 5px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;

  color: #ffff;
}

.card-top div {
  color: #ffff;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;

  color: #ffff;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffff;
}

.pagination-container button {
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px white;
  cursor: pointer;
  padding:5px 5px;
  color: #ffff;
}

.pokemon-heart-btn {
  border: none;
  background-color: white;
  padding: 4px;
  cursor: pointer;
  align-items: center;
  background-color: rgb(37, 93, 156);
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.App {
  text-align: center;
}
